@use "../../../../assets/colors";

img {
  width: 100%;
}

.card {
  background-color: colors.$card-bg-color;
  background-size: cover;
  background-position: center;
  border: none;
  margin-top: 1em !important;
  height: 300px;
}

// .card {
//   display: inline-block;
//   position: relative;
//   left: 10px;
//   bottom: 2em;
//   float: none;
//   font-size: 12px;
//   background-color: purple;
//   font-weight: 600;
//   padding: 0.5em 1.1em;
//   transform: skewX(-15deg);
// }
