<table class="table">
  <thead>
    <tr>
      <th>Esemény</th>
      <th>Leírás</th>
      <th>Játék</th>
      <th>Típus</th>
      <th>Kezdő dátum</th>
      <th style="max-width: 150px">Esemény oldala</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of eventList | filter : phrase">
      <td>{{ event.title }}</td>
      <td>{{ event.description }}</td>
      <td>{{ event.game }}</td>
      <td>{{ event.type }}</td>
      <td>{{ event.startDate | date : "longDate" : "+0200" : "hu" }}</td>
      <td class="text-truncate" style="max-width: 150px">
        {{ event.eventPage }}
      </td>
    </tr>
  </tbody>
</table>
