<div class="container">
  <div class="col-12">
    <div class="col-12">
      <img src="{{ article.mainImg }}" alt="" />
    </div>
    <div class="my-3">
      <h1 class="title">{{ article.title }}</h1>
    </div>
    <div class="mb-3">
      <h2>{{ article.short }}</h2>
    </div>
    <div class="mb-3">
      <h3>{{ article.article1 }}</h3>
    </div>
    <div class="mb-3">
      <h3>{{ article.article2 }}</h3>
    </div>
    <div class="mb-3">
      <h3>{{ article.article3 }}</h3>
    </div>
  </div>
</div>
