@use "../../../../assets/colors";

img {
  width: 100%;
  height: 180px;
}

.card {
  background-color: colors.$card-bg-color;
  background-size: cover;
  background-position: center;
  border: none;
  margin-top: 1em !important;
  height: 470px;
}

.article__category {
  color: colors.$text-category-color;
}
.card-title {
  color: colors.$text-title-color;
}

.article__short {
  color: colors.$text-other-color;
}

a {
  text-decoration: none;
  color: colors.$text-title-color;
}

a:hover {
  color: colors.$text-title-hover-color;
  text-decoration: none;
}

.category__box {
  display: inline-block;
  position: relative;
  left: 10px;
  bottom: 2em;
  float: none;
  font-size: 12px;
  background-color: purple;
  font-weight: 600;
  padding: 0.5em 1.1em;
  transform: skewX(-15deg);
}
